* text=auto

*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.m3u text eol=lf
*.cfg text eol=lf
third_party/miniaudio/miniaudio.h linguist-vendored

*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.h linguist-language=C++
